$blurple: rgb(114, 137, 218);
$blurpleDark: rgb(103, 123, 196);

$redple: rgb(240, 71, 71);
$redpleDark: rgb(229, 57, 57);

$greypleDark: rgb(54, 57, 63);

$botlistBackground: rgb(32, 37, 34);
$botlistNavbar: rgb(32, 37, 34);

$botlistBlack: rgb(32, 37, 34);

$botlistGreen: rgb(137, 218, 114);

$botlistGreyDark: rgb(54, 63, 57);
$botlistGreyDarker: rgb(47, 54, 49);

$botlistTabText: rgb(110, 238, 115);
$botlistTabTextHover: rgba(178, 246, 181, 0.2);
$botlistTabIndicator: rgb(178, 246, 181);
$botlistDiscriminator: rgba(201, 204, 202, 0.6);